:root {
  font-family: "Ubuntu";
}

body {
  background: var(--gradient-3);
  color: var(--white-1);
}

main {
  min-height: 100dvh;
  background-position: center;
  background-size: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  
}

nav {
  position: fixed;
}


body:has(div > input[value="mode"]:checked) {
  /* background: var(--grey-1); */
  background: var(--gradient-4);
}


