:root {
  --black-1: #252525;
  --black-2: #151515;
  --black-3: #202020;

  --white-1: #F3F3F3;

  --grey-1: #808080;

  --blue-1: #4354b9;
  --red-1: #b1305c;

  --gradient-1: linear-gradient(0deg,#4354b9,#649bff);
  --gradient-2: linear-gradient(180deg,#fd867d,#b1305c); 

  --gradient-3: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  --gradient-4: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);

  --nav-size: 3rem;
  --nav-padding: 1rem;

  --article-height: 100px;
  --article-gap: 1rem;
  --article-size: 18rem;

  --main-padding-left: 4rem;

  --slide-width: 30rem;
  --shadow: 1px 1px 3px black;
  --hover-scale: 1.2;

  --transition-time: .4s;


  /* 
*  --black-a: #303030; --white-a: #cfcfcf;
*  --black-b: #2b2b2b; --white-b: #d4d4d4;
*  --black-c: #1f1f1f; --white-c: #e0e0e0;
*  --black-d: #1b1c1e; --white-d: #e4e3e1;
* */

}
