.nav {
  background-color: var(--black-1);
  bottom: 0;
  position: fixed;
  filter: drop-shadow(var(--shadow));
  z-index: 1;
}

.nav ul {
  display: flex;
  width: 100dvw;
  background-color: var(--black-1);
  box-shadow: var(--shadow);
}

.nav ul li form > input, textarea {
  width: 100%;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border: 1px solid rgba(255,255,255, .14);
  border-radius: 6px;
  background: rgba(255,255,255, .04);
  color: var(--white-1);
  padding: .3rem;
}

.nav ul li form > input:active, input:focus, textarea:active, textarea:focus {
  outline: 1px solid var(--grey-1);
}

.nav ul li form {
  background: var(--black-1);
  display: flex;
  flex-direction: column;
  height: 100dvh;
  left: calc(-1 * var(--slide-width)); /* -30rem */
  padding: var(--nav-size);
  position: absolute;
  top: 0;
  transition: all .4s ease;
  width: var(--slide-width);
  z-index: -1;
  align-items: flex-start;
}

.nav ul li form > label {
  margin-bottom: .5rem;
}

.nav ul li form fieldset {
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}


.nav ul li form fieldset input {
  display: none;
}

.nav ul li form fieldset label {
  opacity: .5;
  background: var(--gradient-1);
  padding: .2rem 1rem;
  border-radius: .5rem;
  cursor: pointer;
  flex: auto;
  text-align: center;
  user-select: none;
}

.nav ul li form fieldset legend {
  margin-bottom: .5rem;
}

.nav ul li form fieldset input:checked + label {
  background: var(--gradient-2);
  opacity: 1;
}

.nav ul li form h3, textarea, input {
  margin-bottom: 2rem;
}

.nav ul li form textarea {
  resize: none;
}

.nav ul li > label {
  font-size: var(--nav-size);
  display: block;
}

.nav ul li > label::before {
  padding: var(--nav-padding);
  position: relative;
  display: block;
}

.nav ul li > label {
  filter: grayscale(1);
  cursor: pointer;
  transition: filter, scale .4s ease;
}

.search > label::before {
  content: "🔍"
}

.add > label::before {
  content: "🎮"
}

.mode {
  bottom: 0;
  font-size: var(--nav-size);
  padding: var(--nav-padding);
  position: fixed;
  right: 0;
  width: calc(var(--nav-size) + var(--nav-padding) * 2);
  z-index: 2;
}

.mode label {
  transition: filter var(--transition-time) ease;
  filter: grayscale(1);
}

.mode label:hover {
  filter: grayscale(0);
}

.mode input {
  display: none;
}

.mode input[value="mode"]:checked ~ label::before {
  content: "🌛";
}

.mode > label::before {
  content: "🌞";
  cursor: pointer;
}

.sorting li::before {
  content: "🗂";
  cursor: pointer;
}

@media screen and (min-width: 768px) {

  .nav ul {
    flex-direction: column;
    width: initial;
    height: 100dvh;
  }

  .nav ul li > label:hover {
    filter: grayscale(0);
    scale: var(--hover-scale);
  }

   
  .nav ul li > label:hover ~ form {
    translate: calc(var(--slide-width) + (var(--nav-padding) * 2) + var(--nav-size)) 0;
  }

  .nav ul li > label:focus ~ form {
    /* translate: calc(var(--slide-width) + (var(--nav-padding) * 2) + var(--nav-size)) 0; */
  }

  .nav ul li > label ~ form:hover {
    translate: calc(var(--slide-width) + (var(--nav-padding) * 2) + var(--nav-size)) 0;
  }

  .nav ul li > label ~ form:has(*:focus) {
    translate: calc(var(--slide-width) + (var(--nav-padding) * 2) + var(--nav-size)) 0;
  }

  .mode {
    left: 0;
    bottom: 0;
  }

}
